.bg-lightgrey{
    background-color: rgb(246, 246, 247);
}

.d-flex > li{
    text-align: center;
}

.awards_img img{
    width: 100px;
    transition: transform .7s ease-in-out;
    
    &:hover{
        transform: rotate(360deg);
      }
}
