
.brands{
    width: 170px;
    transition: width 2s 0s;
}

.brands:hover{
    width: 220px;
}

.box{
    height: 80px;
    width: 80%;
}

.expert{
    width: 50px;
    aspect-ratio: 1 / 1;
}

.button:hover{
    background-color:orangered;
    color: white;
}