.line-height{
    line-height: 1.4;
}

.contact{
    bottom: -20px;
    right: 5px;
}

.bubble{
    width: 35px;
    margin-right: -10px;
}

.expert{
    width: 30px;
    aspect-ratio: 1/1;
    margin: -15px;
}

.mex{
    width: 200px;
}