.brand_img{
    width: 70%;
}

.business_img{
    width: 20px;
    vertical-align: middle;
}

.business_title{
    display: inline-block;
    vertical-align: middle;
}

.business_card_title{
    font-size: xx-large;
}

.button:hover{
    background-color: rgb(241, 83, 26);
}
