
.card_body{
    border-bottom: 1px solid rgb(243, 239, 239)
}

.card_body h4{
    font-size: 18px; 
}

.data{
    font-size: xx-large;
}

.card_img:before {
    content: '';
    display: block;
    position: absolute;
    height: 0%;
    width: 100%;
    bottom: 0;
    transition: height 0.5s ease-out;
    background: linear-gradient(to bottom, transparent 60%, rgb(219, 114, 9) 100%);
    border-radius: 10px;
}


.col-100 .button{
    width: 230px;
}

.button:hover{
    background-color: orangered;
    color: white;
}