.container{
    max-width: 1390px;
    margin: 0 auto;
}

.bg-lightgrey{
    background-color: rgb(246, 246, 247)
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col-20{
    width: 20%;
}

.col-40{
    width: 40%;
}

.f-col{
    flex-direction: column;
}

.jc-c{
    justify-content: center;
}

.pl-10{
    padding-left: 10px;
}

.pb-20{
    padding-bottom: 10px;
}

.pb-50{
    padding-bottom: 50px;
}

.d-flex{
    display: flex;
}

.f-col{
    flex-direction: column;
}

.img_cont img{
    display: block;
    width: 40px;
}